$color: #666;
$color-primary: #e52354;
$color-alt: #ddd;
$color-darkest: #101010;
$color-lightest: #fff;

$font: 'Roboto', sans-serif;
$font-weight: 300;

$font-title: 'Oswald', sans-serif;
$font-title-weight: 500;

$gutter: 1.5rem;
