@use '../../styles/variables' as v;

.post {
  padding: v.$gutter;
  width: 25%;


  &:hover {
    background-color: v.$color-alt;
  }

  &-title {
    color: v.$color-darkest;
    font-family: v.$font-title;
    font-size: 1.3125em;
    font-weight: v.$font-title-weight;
    margin-bottom: v.$gutter * .25;
    text-transform: uppercase;
  }

  &-category {
    background-color: v.$color-primary;
    color: v.$color-lightest;
    display: inline-block;
    font-size: 0.8125em;
    height: v.$gutter * 1.5;
    line-height: v.$gutter * 1.5;
    margin-bottom: v.$gutter * .25;
    padding: 0 .5rem;
    text-transform: uppercase;
  }

  &-excerpt {
    color: v.$color;
  }
}
